@charset "UTF-8";


  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: rgba(0, 0, 0, .05s);
    margin: 0;
    font-family: sans-serif;    /* 임시 */
      font-size: 16px;
  }
  body::-webkit-scrollbar {
    width: 10px;
  }
  body::-webkit-scrollbar-track {
    background: white;
  }
  body::-webkit-scrollbar-thumb {
    background: rgba(206, 206, 206, .7);
    border-radius: 5px;
  }
  body::-webkit-scrollbar-thumb:hover {
    background: rgb(206, 206, 206);
  }
  a {
    text-decoration: none;
    color: black;
  }
  ul {
    outline: 1px solid black;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  button {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    background: none;
  }


  header {
    background: linear-gradient(rgba(253, 224, 228, .7), transparent);
    width: 100%;
    height: 60px;
      /* outline: 1px solid red; */
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  #logo {    /* 지금 로고 디자인 컨셉 좋은 듯 */
    background-color: rgba(0, 0, 0, .025);
    border-top: 1px solid rgba(0, 0, 0, .5);
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    padding: 4px 0;
    width: 107px;
    overflow: hidden;
    transition: width ease-out .5s .5s, opacity .5s;    /* 200607 */
  }
  #logo a {
    border-top: 1px solid rgba(0, 0, 0, .5);
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    padding: 0 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  #logo a img {
    border-left: 1px solid rgba(0, 0, 0, .5);
    border-right: 1px solid rgba(0, 0, 0, .5);
    box-sizing: border-box;
    width: 44px;
    height: 38px;
  }
  #logo #flower {}
  #logo #load {
    border-left: none;
  }
  #btn_wrap {
    position: fixed;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);
    z-index: 11;
      display: none;
    flex-direction: column;
    align-items: center;
  }
  #menu_btn {
    outline: 1px solid black;
    width: 32px;
    height: 32px;
    cursor: pointer;
  }

  section {
    width: 100%;
  }
  article {
  }
  article#intro {
    height: 100vh;
    border: 1px solid transparent;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
  }
  article#intro img {    /* max-width: 이미지 최대 크기? */
    padding-top: 60px;
    width: 100%;
  }
  article#intro img:nth-child(1) {
    z-index: -1;
  }
  article#intro img:nth-child(2) {
    position: absolute;
    transform: translateX(-100%);
  }
  article#intro #bg {
  }
  article#intro #bg_txt {
    opacity: 0;
    transition: opacity 2.5s .2s;
  }

  article#content {
    border: 1px solid transparent;
    box-sizing: border-box;
  }
  article#content h2, article#content p {
    text-align: center;
  }
  article#content h2 {
    border-bottom: 5px solid rgba(183, 213, 172, 1);
    padding-bottom: 2vh;
    margin: 5% 12% 0 12%;
    font-size: 3.8em;
    font-weight: 500;
  }
  article#content p {
    margin-left: 12%;
    margin-right: 12%;
    font-size: 1.5em;
    font-weight: lighter;
  }
  article#content #con_1 {}
  article#content #content_images {
    border: 5px solid rgba(253, 224, 228, 1);
    position: relative;
    left: 0;
    padding: 24px 32px;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    transition: .5s;
  }
  article#content #content_images img {
    padding: 0 8px;
    box-sizing: border-box;
    width: 22%;
    transition: width .5s;
  }
  article#content #con_2 {}

  article#content2 {
    height: 100vh;
    display: flex;
    align-items: center;
  }
  article#content2 .con2 {
    text-align: center;
    flex: 1 1 auto;
    width: 50%;
    height: 100%;
    padding-top: 7%;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    transition: .5s;
    cursor: pointer;
  }
  article#content2 .con2_left {
    outline: 1px solid rgba(183, 213, 172, .3);
  }
  article#content2 .con2_right {
    outline: 1px solid rgba(186, 201, 224, .3);
  }
  article#content2 .con2_images {
    width: 100%;
    height: 40vh;    /* 임시 */
    border-top: 3px solid rgba(253, 224, 228, 1);
  }

  article#content2 .con2_images .con2_image {
    margin: 8% 4% 0;
    width: 38%;
    transition: margin .5s;
  }
  article#content2 > .con2 h2 {
    margin-bottom: 2%;
    display: inline;
    font-size: 3em;
  }
  article#content2 .con2_left h2 {
    border-bottom: 3px solid rgba(219, 234, 213, 1);
  }
  article#content2 .con2_right h2 {
    border-bottom: 3px solid rgba(220, 228, 240, 1);
  }
  article#content2 > .con2 h3 {
    margin: 3% 0;
    font-size: 1.4em;
    font-weight: lighter;
  }
  article#content2 .close {
    border: 1px solid black;
    border-radius: 50%;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    font-size: 38px;
    opacity: 0;
    position: absolute;
    top: 6%;
    z-index: 11;
    visibility: hidden;
    transition: .5s;
    cursor: pointer;
  }
  article#content2 .cls1 {
    right: 2%;
  }
  article#content2 .cls2 {
    left: 2%;
  }
  .close_show {
    display: block;
  }

  article#end {        /* 전체화면 이상 */
    border: 1px solid transparent;
    box-sizing: border-box;
    min-height: calc(100vh - 60px);
    padding-top: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  article#end #condition {
    border-right: 3px solid rgba(0, 0, 0, .3);
  }
  article#end #condition, article#end form {
    padding: 0 6%;
    width: 50vw;
    transition: .3s;    /* 반응형 크기 전환 효과 */
  }
  article#end #condition p {
    margin-bottom: 3%;
    font-size: 1.2vw;
  }
  article#end #condition p:first-child {
    margin-top: 0;
  }
  article#end #condition p span {
    margin-left: 16px;
  }
  article#end form {
  }
  article#end form > legend {
    font-size: 2.6em;
    font-weight: 600;
    text-align: center;
  }
  article#end form #form_wrap {
    border-top: 3px solid rgba(255, 174, 178, 1);
    width: 100%;
    margin-top: 4%;
    padding: 6% 0;
    font-size: .5em;
    font-weight: normal;
  }
  article#end form #form_wrap > div {
    border: 1px solid transparent;
    box-sizing: border-box;
    margin-bottom: 36px;
  }
  article#end form #form_wrap .text {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  article#end form #form_wrap .text label {
  }
  article#end form #form_wrap .text div {
    width: 80%;
  }
  #form_wrap .text div input, #form_wrap #under textarea {
    width: 100%;
    padding: 6px 12px;
    border: 2px solid rgba(0, 0, 0, .3);
    border-radius: 6px;
    box-sizing: border-box;
    outline: none;
    transition: border .2s;
    font-size: .8em;
  }
  #form_wrap .text div input:focus, #form_wrap #under textarea:focus {
    border: 2px solid rgba(255, 194, 198, 1);
  }
  article#end form #form_wrap button {
    background-color: rgba(255, 194, 198, 1);
    border-radius: 4px;
    font-size: .8em;
    font-weight: 600;
    color: white;
    margin: 0;
    padding: 8px 16px;
    float: right;
    cursor: pointer;
    transition: background .2s;
  }
  article#end form #form_wrap button:hover {
    background-color: rgba(255, 174, 178, 1);
  }
  footer {
    background-color: rgba(0, 0, 0, .05);
    border-top: 1px solid transparent;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 6%;
    width: 100%;
  }
  footer span {
    font-size: 1em;
  }
  footer #top_btn {
    display: none;
  }

  div#page_btn {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  div#page_btn > .page {    /* 태블릿 이하에서 제거? */
    width: 24px;
    height: 24px;
    border: 6px solid rgba(0, 0, 0, .5);
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
    transition: .2s;
  }
  div#page_btn > .page:active {
    border: 10px solid rgba(0, 0, 0, .8);
  }
  div#page_btn > .page:not(:last-child) {
    margin-bottom: 24px;
  }

  #cursor {    /* js, jq */
    display: none;
  }

  /* PC (해상도 1024px)*/
  @media all and (min-width:1025px) { /*스타일입력*/
    article#intro img {
      min-width: 1042px;
      min-height: 546px;
    }
    article#content {
      min-height: 100vh;
    }
    article#content #content_images img:hover {
      width: 35vw;
    }
    footer span {
      width: 100%;
      display: block;
    }
    div#page_btn > .page:hover {
      border: 8px solid rgba(0, 0, 0, .7);
    }
  }


  /* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
  @media all and (min-width:768px) and (max-width:1024px) { /*스타일입력*/
    article {
      /* outline: 1px solid purple; */
      width: 100%;
    }
    article#intro {
      height: calc(100vw*0.5234);
      padding: 0;
    }
    article#intro img {
      padding-top: 8%;
    }
    article#content {
      height: auto;
    }
    article#content > h2 {
      font-size: 5.5vw;
      font-weight: 600;
    }
    article#content p:not(:last-child) {
      font-size: 2.2em;
      font-weight: 500;
    }
    article#content p:last-child {
      font-size: 1.5em;
      font-weight: 400;
    }
    article#content #content_images {
      padding: 7%;
      flex-wrap: wrap;
    }
    article#content #content_images img {
      flex: 1 1 35%;
    }
    article#content #content_images img:not(:nth-child(3)):not(:last-child) {
      margin-bottom: 2%;
    }
    /* article#content #content_images img:hover {
      width: 35vw;
    } */
    article#content2 {
      height: auto;
      flex-direction: column;
      pointer-events: none;
    }
    article#content2 > .con2 h3 {
      margin: 10% 0;
    }
    article#content2 .con2 {
      /* flex: 1 1 auto; */
      width: 100%;
      height: auto;
      overflow: auto;
      border: 1px solid transparent;
      position: static;
      transition: none;
      cursor: auto;
    }
    article#content2 .con2_images {
      height: auto;    /* 임시 */
      border: 1px solid transparent;
      border-top: 3px solid rgba(253, 224, 228, 1);
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* outline: 1px solid red; */
    }

    article#content2 .con2_images .con2_image {
      margin: 8% 4%;
      width: 80%;
    }
    article#content2 > .con2 h2 {
      font-size: 4em;
    }
    article#content2 > .con2 h3 {
      font-size: 2em;
      margin: 6% 0;
    }
    article#content2 .close {
      display: none;
    }
    article#end {
      flex-direction: column;
    }
    article#end #condition {
      border-right: none;
      border-bottom: 3px solid rgba(0, 0, 0, .3);
      /* padding-right: 6%; */
      padding-bottom: 5%;
    }
    article#end #condition p {
      font-size: 1.2em;
    }
    article#end #condition, article#end form {
      width: 80%;
    }
    article#end form {
      margin-top: 4%;
    }
    article#end form #form_wrap button {
      padding: 12px 20px;
      margin-bottom: 5%;
    }
    footer {
      /* margin-top: 5%; */
      padding: 0 10%;
    }
    div#page_btn > .page {
      width: 40px;
      height: 40px;
      border: 12px solid rgba(0, 0, 0, .5);
    }
    div#page_btn > .page:active {
      border: 16px solid rgba(0, 0, 0, .8);
    }
    div#page_btn > .page:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  /* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
  @media all and (max-width:767px) { /*스타일입력*/
    article#intro {
      height: calc(100vw*0.5234);
      padding: 0;
    }
    article#content > h2 {
      font-size: 5.5vw;
      font-weight: 600;
    }
    article#content > p {
      margin-left: 6%;
      margin-right: 6%;
      font-size: .9em;
      font-weight: 500;
    }
    article#content #content_images {
      padding: 6px;
      flex-wrap: wrap;
    }
    article#content #content_images img {
      flex: 1 1 30%;
      padding: 6px;
      width: 40%;
    }
    article#content2 {
      height: auto;
      flex-direction: column;
      pointer-events: none;
    }
    article#content2 .con2 {
      /* flex: 1 1 auto; */
      width: 100%;
      height: auto;
      overflow: auto;
      border: 1px solid transparent;
      position: static;
      transition: none;
      cursor: auto;
    }
    article#content2 .con2_images {
      height: auto;    /* 임시 */
      border: 1px solid transparent;
      border-top: 3px solid rgba(253, 224, 228, 1);
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    article#content2 .con2_images .con2_image {
      margin: 8% 4%;
      width: 100%;
    }
    article#content2 > .con2 h2 {
      font-size: 2.6em;
    }
    article#content2 > .con2 h3 {
      font-size: 1em;
      margin: 6% 0;
    }
    article#content2 .close {
      display: none;
    }
    article#end {
      flex-direction: column;
    }
    article#end #condition {
      border-right: none;
      border-bottom: 3px solid rgba(0, 0, 0, .3);
      /* padding-right: 6%; */
        padding-bottom: 5%;
    }
    article#end #condition p {
      font-size: 1em;
    }
    article#end form {
      margin-top: 5%;
    }
    article#end #condition, article#end form {
      /* margin: 4% 0 0 12%; */
      padding: 0;
      width: 95%;
    }
    article#end form #form_wrap button {
      padding: 12px 20px;
      margin-bottom: 6%;
    }
    article#end form #form_wrap {
      margin-top: 6%;
      padding: 8% 0;
      font-size: .4em;
    }
    div#page_btn {
      display: none;
    }
    footer {
      padding: 0 4%;
    }
    footer #top_btn {
      display: block;
      font-size: 1em;
    }
  }
